/*Structural*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    margin: 0;
}

header{
    text-align: center;
    background-color: ivory;
    color: cadetblue;
    padding: 25px;

}


#content{
    width: 75%;
    margin: 20px auto;
    background-color: ivory;

}

/*Navigation*/
nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li{
    flex: 1;
}

nav a{
    display: block; 
    background-color: indianred;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

/*Main-Layout*/
#page-layout{
    display: flex;
}

aside{
    width: 18%;
    background-color: lightpink;
    padding: 15px;
}

main{
    flex: 1;
}

.title-cards{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.card{
    flex: 1;
}

.card img{
    width: 100%;
    display: block;
}

.card h2{
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}

/*Sidebar*/
aside h2{
    color: cadetblue;
    text-align: center;
}

aside ul{
    list-style-type: none;
    padding: 0;
}

aside a{
    display: block;
    background-color: white;
    color: indianred;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}


/*Ideas*/
.idea{
    display: flex;
    background-color: cadetblue;
    color: white;
    margin: 10px;
}

.idea img{
    width: 25;
    height: auto;
    align-self: center;
}

.idea-text{
    flex: 1;
    padding: 15px;
}

/*Footer*/
footer{
    background-color: indianred;
    color: white;
    text-align: center;
    padding: 15px;
}

/*Small Screens*/
@media (max-width: 700px) {
    nav ul{
        flex-direction: column;
    }

    #page-layout{
        flex-direction: column;
    }

    aside{
        width: auto;
    }

    .title-cards{
        text-decoration: column;
    }

    .idea{
        text-decoration: column;
    }
    
    .idea img{
        width: 60%;
    }
}

