/*Structural*/

body{
    margin: 0;
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

/*Main Content*/

#content{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header{
    margin: 50px 0;
}

header h1{
    margin-bottom: 10px;
}

header h2{
    margin-top: 0;
    font-weight: normal;
}

/*Making the road*/

#road-container{
    margin-bottom: 60px;
}

.grass{
    height: 120px;
    background: yellowgreen;
}

#road{
    position: relative;
    height: 220px;
    border-top: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
    background: dimgray;
    overflow: hidden;

}

#lane-line{
    position: absolute;
    top: 105px;
    width: 100%;
    border-top: 5px dashed gold;
}

#cars{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Car Art*/
.car{
    position: absolute;
    width: 90px;
    height: 50px;
    z-index: 2; /*This makes the cars appear above the yellow dashed lane line. Without it, the lane line could show over the cars.*/
}

.car-top{
    position: absolute;
    top: -20px;
    left: 20px;
    width: 50px;
    height: 25px;
    border-radius: 10px 10px 0 0;
    background: skyblue;
}

.wheel{
    position: absolute;
    bottom: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
}   


.front-wheel{
    left: 10px;
}

.back-wheel{
    right: 10px;
}