/*Header*/
body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

#utility-bar{
    background-color: black;
}

#utility-bar ul{
    display: flex;
    margin:0;
    padding: 5px 40px;
    list-style-type: none;
}

#utility-bar li+li{
    border-left: 1px solid gray;
    margin-left: 10px;
    padding-left: 10px;
}

#utility-bar a{
    color: white;
    font-size: 8px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#branding{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 42px;
}

#usc-brand{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#usc-brand img{
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

#usc-name p{
    margin: 0;
    font-family: Georgia, serif;
    font-size: 13px;
    text-transform: uppercase;
}

#usc-name h1{
    margin:0;
    font-family: Georgia, serif;
    font-size: 28px;
}

#branding h2{
    margin: 0;
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: normal;
}

/*Main-Nav*/
#main-nav{
    background-color: maroon;
}

#main-nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 55px;
    margin: 0;
    padding: 13px 45px;
    list-style-type: none;
}

#main-nav a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#main-nav .search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-nav .search-bar img{
    display: block;
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1);
}

/*Hero Section*/
#hero{
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#hero img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Introduction*/
#introduction{
    padding: 35px 20%;
}

#introduction p{
    max-width: 1000px;
    font-size: 18px;
    line-height: 1.5;
}

#introduction p{
    max-width: 1100px;
    margin: 0 auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.7;

}

/*Education Section*/

#education{
    position: relative;
    padding-bottom: 45px;
}

#education img{
    display: block;
    width: 100%;
    height: 800px;
    object-fit: cover;
}

#education .feature-content{
    position: absolute;
    right: 6%;
    bottom: 0;
    width: 40%;
    background-color: maroon;
    padding: 40px 50px;
}

#education .feature-content h2{
    margin: 0 0 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#education .feature-content p{
    margin: 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
}

#education .button{
    display: inline-block;
    background-color: black;
    border: 3px solid white;
    color: white;
    margin-top: 20px;
    padding: 14px 25px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/*Student Quote*/

#student-quote{
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 0 12% 70px;
    background-color: white;
}

#student-quote img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.quote-content{
    flex: 1;
    position: relative;
}

.quote-text{
    margin: 0;
    color: maroon;
    font-family: Georgia, serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.6;
}

.quote-name{
    margin-top: 20px;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.open-quote,
.close-quote{
    position: absolute;
    color: lightgray;
    font-family: Georgia, serif;
    font-size: 140px;
    font-weight: bold;
    line-height: 1;
}

.open-quote{
    top: -45px;
    left: -65px;
}

.close-quote{
    right: 80px;
    bottom: -100px;
}

/*Research Section*/
#research{
    position: relative;
    padding-bottom: 45px;
}

#research img{
    display: block;
    width: 100%;
    height: 800px;
    object-fit: cover;
}

#research .research-content{
    position: absolute;
    left: 6%;
    bottom: 0;
    width: 40%;
    background-color: maroon;
    padding: 40px 50px;
}

#research .research-content h2{
    margin: 0 0 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#research .research-content p{
    margin: 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
}

#research .button{
    display: inline-block;
    background-color: black;
    border: 3px solid white;
    color: white;
    margin-top: 20px;
    padding: 14px 25px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}


/*Quick Links Section*/
#quick-links{
    display: flex;
    gap: 55px;
    padding: 70px 6%;
    background-color: white;
}

.quick-link{
    flex: 1;
    background-color: white;
}

.quick-link img{
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.quick-link h3{
    margin-top: 0;
    padding: 20px 20px 15px;
    font-family: Georgia, serif;
    font-size: 28px;
}

.quick-link h3 a{
    color: maroon;
    text-decoration: none;
}

.quick-link p{
    margin: 0;
    padding: 0 25px 30px;
    font-size: 18px;
    line-height: 1.6;
}

/*Centers and Institutes Section*/
#centers{
    position: relative;
    padding-bottom: 45px;
}

#centers img{
    display: block;
    width: 100%;
    height: 800px;
    object-fit: cover;
}

#centers .centers-content{
    position: absolute;
    left: 6%;
    bottom: 0;
    width: 30%;
    background-color: maroon;
    padding: 40px 50px;
}

#centers .centers-content h2{
    margin: 0 0 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#centers .centers-content p{
    margin: 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
}

#centers .button{
    display: inline-block;
    background-color: black;
    border: 3px solid white;
    color: white;
    margin-top: 20px;
    padding: 14px 25px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/*Stay Connected Section*/
#stay-connected{
    padding: 70px 10%;
    background-color: whitesmoke;
    text-align: center;
}

#stay-connected h2{
    margin: 0 0 20px;
    color: maroon;
    font-family: Georgia, serif;
    font-size: 52px;
}

#stay-connected p{
    margin: 25px 0 60px;
    color: black;
    font-size: 18px;
}

.connect-buttons{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.connect-buttons a{
    padding: 20px 38px;
    background-color: maroon;
    border: 3px solid white;
    box-shadow: 0 4px 8px gray;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/*Footer Information*/
#footer-info{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 55px 10px 35px;
    background-color: whitesmoke;
}

.footer-school{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 42%;
}

.footer-school h2{
    width: 100%;
    color: maroon;
}

.school-button{
    display: inline-block;
    padding: 16px 25px;
    background-color: black;
    border: 3px solid white;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.social-links{
    display: inline-flex;
    gap: 12px;
    margin-left: 20px;

}

.social-links a{
    color: maroon;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.footer-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px 75px;
    padding-left: 25px;
    border-left: 1px solid gray;
}

.footer-links a{
    color: maroon;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-address{
    padding-left: 25px;
    border-left: 1px solid gray;
}

.footer-address a{
    display: block;
    margin-bottom: 12px;
    color: maroon;
    font-weight: bold;
}

.footer-address p{
    margin: 0 0 10px;
    font-size: 16px;
}

/*University Footer*/
#university-footer{
    padding: 40px 30px;
    background-color: maroon;
    color: white;
}

.university-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.university-brand{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.university-brand img{
    width: 85px;
    height: 85px;
    margin-right: 20px;
}

.university-brand p{
    margin: 0;
    font-family: Georgia, serif;
    font-size: 18px;
    text-transform: uppercase;
}

.university-brand h2{
    margin: 0;
    font-family: Georgia, serif;
    font-size: 38px;
}

.university-social{
    display: flex;
    gap: 25px;
}

.university-social a{
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.university-links{
    display: flex;
    gap: 42px;
    margin-top: 50px;
}

.university-column{
    flex: 1;
}

.university-column h3{
    margin: 0 0 18px;
    padding-bottom: 12px;
    border-bottom: 2px solid white;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.university-column a{
    display: block;
    margin-bottom: 16px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}