/*Header*/
body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

#utility-bar{
    background-color: black;
}

#utility-bar ul{
    display: flex;
    margin:0;
    padding: 5px 40px;
    list-style-type: none;
}

#utility-bar li+li{
    border-left: 1px solid gray;
    margin-left: 10px;
    padding-left: 10px;
}

#utility-bar a{
    color: white;
    font-size: 8px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#branding{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 42px;
}

#usc-brand{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#usc-brand img{
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

#usc-name p{
    margin: 0;
    font-family: Georgia, serif;
    font-size: 13px;
    text-transform: uppercase;
}

#usc-name h1{
    margin:0;
    font-family: Georgia, serif;
    font-size: 28px;
}

#branding h2{
    margin: 0;
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: normal;
}

/*Main-Nav*/
#main-nav{
    background-color: maroon;
}

#main-nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 55px;
    margin: 0;
    padding: 13px 45px;
    list-style-type: none;
}

#main-nav a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#main-nav .search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-nav .search-bar img{
    display: block;
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1);
}

